.dark-white {
  color: #FFFFFFCC;
}

.reference-section {
  width: 100%;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
  margin-bottom: 144px;
}

.reference-title-box {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  > h3 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: #3DCFB6;
    text-align: center;
  }
}

.fade-shadow {
  width: 100%;
  height: 388px;
  position: absolute;
  z-index: 1;
  display: none;
  background: linear-gradient(
    90deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(28, 28, 28, 0) 10%,
    rgba(28, 28, 28, 0) 90%,
    rgba(28, 28, 28, 1) 100%
  );
}

.reference-slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.reference-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  > p {
    margin: 0;
    width: 6.5px;
    height: 6.5px;
    background-color: #3DCFB6;
    border-radius: 59%;
    display: block;
  }

  .dot-inactive {
    background-color: #FFFFFF;
  }
}

.nav-arrow-left,
.nav-arrow-right {
  height: 40px;
  position: relative;

  &:hover {
    cursor: pointer;

    .arrow-default {
      animation: fadeOut 90ms ease-in forwards;
    }

    .arrow-hover {
      animation: fadeIn 90ms ease-in forwards;
    }
  }
}

.reference-track {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  position: relative;
}

.reference-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.quote-icon {
  position: absolute;
  top: -20px;
  left: 0;
  width: 66px;
  height: 48px;
  z-index: 1;
}

.reference-card {
  width: 280px;
  height: 360px;
  border-radius: 32px;
  border: 1px solid #3DCFB6;
  background-color: #3DCFB64D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  > span {
    padding: 40px 40px 0;
    height: 260px;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}

.reference-card.reference-prev,
.reference-card.reference-next {
  background-color: #3DCFB61A;
}

.reference-author {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  padding: 0 30px 40px;

  > span {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

.touch-animation {
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards;
}

.author-gap {
  width: 38px;
  height: 0;
  border: 1px solid #FFFFFF;
  border-radius: 32px;
}

.blank-not-focused {
  border: 1px solid #FFFFFFCC;
}

.arrow-default {
  opacity: 1;
  position: absolute;
}

.arrow-hover {
  opacity: 0;
}

/* Animations */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}