<section id="about" #aboutMeSection class="about-me-container">
    <div #aboutMeImg class="about-me-img" data-aos="fade-right" [ngClass]="{ 'moved': hasMoved }" (mouseenter)="onHover()">
        <img src="assets/images/me-portfolio.jpg" />
    </div>
    <div #aboutMeContent class="about-me-content" data-aos="fade-left">
        <h2>{{ "about.I-me" | translate }}</h2>
        <div class="about-me-div">
            <h1>{{ "about.me" | translate }}</h1>
            <div class="me-content">
                <div class="me-span">
                    <span> {{ "about.intro" | translate }} </span>
                </div>
                <div class="personality-container">
                    <div class="personality-content">
                        <img src="assets/images/location_on.png" alt="" />
                        <span> {{ "about.locate" | translate }} </span>
                    </div>
                    <div class="personality-content">
                        <img src="assets/images/cognition.png" alt="" />
                        <span> {{ "about.mindset" | translate }} </span>
                    </div>
                    <div class="personality-content">
                        <img src="assets/images/new_releases.png" alt="" />
                        <span> {{ "about.ambitious" | translate }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>