<nav class="navbar-container">
    <div class="nav-content">
        <div class="navbar-button"></div>
        <section class="nav-links-container">
            <div class="internal-links">
            <a href="">About me</a>
            <span></span>
        </div>
        <div class="internal-links">
            <a href="">Skills</a>
            <span></span>
        </div>
        <div class="internal-links">
            <a href="">Projects</a>
            <span></span>
        </div>
        </section>
    </div>
</nav>
