.ngForm-valid-resposive {
    transition: color 300ms ease-out, border-color 300ms ease-out;
    border-color: #3dcfb6 !important;

    >span {
        display: inline-block;
        color: #3dcfb6;
        animation: slideTextSkill 2500ms linear forwards infinite;
    }
}

@media only screen and (min-width: 300px) {
    .contact-me-section {
        width: 280px;
    }
}

@media only screen and (min-width: 450px) {
    .contact-me-section {
        width: 375px;
    }
}

@media only screen and (min-width: 925px) {
    .contact-me-section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 96px 0 96px;
        align-items: flex-start;

        >div {
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }
    }

    .lets-work-container {
        width: 100%;
        max-width: 568px;
    }

    .problem-container p {
        font-size: 18px;
    }

    .contact-formular-container {
        width: 100%;
        max-width: 616px;
    }

    .intro-container {
        >h1 {
            font-size: 64px;
        }
    }
}

@media only screen and (max-width: 1020px) {
    .input-container {
        padding: 32px 0px;
    }
}

@media only screen and (max-width: 925px) {
    input.ng-invalid.ng-touched::placeholder,
    input.ng-invalid {
        font: 400 16px 'Karla' !important;
    }

    .intro-container {
        >h1 {
            font-size: 45px;
        }
    }
    .input-container {
        >label {
            font: 500 20px 'Fira Code';
        }

        >input {
            font: 400 16px 'Karla';
        }
    }

    .checkbox-default p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 450px) {
    .contact-me-section {
        margin-bottom: 60px;
    }

    .checkbox-default p a {
        padding: 5px 0px 0;
    }

    .policy-and-submit-content {
        min-height: 190px;
    }
}