@media only screen and (min-width: 300px) {
  .skill-set-container {
    width: 300px;
  }
}

@media screen and (min-width: 450px) {
  .skill-set-container {
    width: 365px;
  }

  .show-skill-container {
    gap: 13px;
    width: 365px;
  }
}

@media only screen and (min-width: 800px) {
  .skill-set-container {
    width: 365px;
  }

  .show-skill-container {
    gap: 13px;
    width: 365px;
  }
}

@media only screen and (min-width: 925px) {
  .skills-container {
    flex-direction: row;
    align-items: normal;
    gap: 75px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 96px;
  }

  .skill-set-container {
    width: 520px !important;
    gap: 20px;
  }

  .skills-descriptions-container {
    gap: 40px;
    width: 400px;

    > h1 {
      font-size: 64px;
      line-height: 100%;
      padding: 32px 32px 0 32px;
    }
  }

  .skills-descriptions-content {
    gap: 32px;
  }

  .skills-descriptions span {
    font-size: 18px;
  }

  .another-skill-container {
    gap: 16px;

    >h2 {
      font-size: 24px;
    }

    >span {
      font-size: 18px;
    }
  }

  .show-skill-container {
    gap: 13px;
    width: 100%;
    padding: 48px 0 0 0;
  }

  .single-skill {
    height: 116px;
    width: 104px;
  }
}

@media only screen and (min-width: 1040px) {
  .skills-container {
    gap: 96px;
  }
}

@media only screen and (min-width: 1280px) {
  .show-skill-container {
    gap: 72px;
    width: 632px;
  }

  .skills-descriptions-container {
    width: 520px;
  }
}

@media only screen and (max-width: 925px) {
  .skills-container {
    padding: 0;
  }
}