<section id="skills" #skillsSection class="skills-container" data-aos="fade-left">
  <div class="skill-set-container">
    <h2>{{ 'skills.technologies' | translate }}</h2>
    <div class="skills-descriptions-container">
      <h1>{{ 'skills.set' | translate }}</h1>
      <div class="skills-descriptions-content">
        <div class="skills-descriptions">
          <span> {{ 'skills.description' | translate }} </span>
        </div>
          <div class="another-skill-container">
            <h2> {{ 'skills.need' | translate }} <span>{{ 'skills.another' | translate }}</span> </h2>
            <span> {{ 'skills.fell-free' | translate }} </span>
          </div>
      </div>
      <div class="contact-button">
        <button class="scroll-button" [ngClass]="currentLang === 'de' ? 'button-de' : 'button-en'" (click)="scrollToContact('contact')" (mouseenter)="startScroll()" (mouseleave)="stopScroll()">
          <div class="scroll-container">
            <div class="scroll-text" #scrollText>{{ 'skills.talk' | translate }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="show-skill-container">
    @for (skill of skillSet; track skill.name) {
      <div class="single-skill">
        <div *ngIf="skill.name === 'Growth Mindset'" class="visibility tooltip-div">
          <div class="tooltip-content">
            <div class="tooltip-span">
              <span> {{ 'skills.special' | translate }} </span>
            </div>
            <div class="wanted-skills-container">
              <div class="wanted-skills-content">
                <img src="assets/images/React.png" alt="" />
                <span>React</span>
              </div>
            </div>
          </div>
        </div>
        <img src="assets/images/{{ skill.imgName }}.png" alt="" />
        <span> {{ skill.name }} </span>
      </div>
    }
  </div>
</section>