<app-navbar></app-navbar>
<section data-aos="fade-left" class="privacypolicy-section">
  <div class="privacypolicy-container">
    <div class="title-container">
      <h1>{{ "privacypolicy.title" | translate }}</h1>
    </div>
    <div class="container-1">
      <h2>{{ "privacypolicy.title_container_1" | translate }}</h2>
      <h3>{{ "privacypolicy.general_information" | translate }}</h3>
      <p>{{ "privacypolicy.general_information_text" | translate }}</p>
      <h3>{{ "privacypolicy.data_collection_title" | translate }}</h3>
      <h4>{{ "privacypolicy.data_collection_responsible" | translate }}</h4>
      <p>{{ "privacypolicy.data_collection_text" | translate }}</p>
      <h4>{{ "privacypolicy.how_data_collection_title" | translate }}</h4>
      <p>{{ "privacypolicy.how_data_collection_text_1" | translate }}</p>
      <p>{{ "privacypolicy.how_data_collection_text_2" | translate }}</p>
      <h4>{{ "privacypolicy.for_what_data_collection_title" | translate }}</h4>
      <p>{{ "privacypolicy.for_what_data_collection_text" | translate }}</p>
      <h4>{{ "privacypolicy.your_right_title" | translate }}</h4>
      <p>{{ "privacypolicy.your_right_text_1" | translate }}</p>
      <p>{{ "privacypolicy.your_right_text_2" | translate }}</p>
    </div>
    <div class="container-2">
        <h2>{{ "privacypolicy.title_container_2" | translate }}</h2>
        <p>{{ "privacypolicy.following_host_text_1" | translate }}</p>
        <h3>IONOS</h3>
        <p>{{ "privacypolicy.following_host_text_2" | translate }}
            <a href="https://www.ionos.de/terms-gtc/datenschutzerklaerung/" target="_blank" rel="noopener noreferrer">https://www.ionos.de/terms-gtc/datenschutzerklaerung/</a>.
        </p>
        <p>{{ "privacypolicy.following_host_text_3" | translate }}</p>
        <h4>{{ "privacypolicy.following_host_order_processing_title" | translate }}</h4>
        <p>{{ "privacypolicy.following_host_order_processing_text" | translate }}</p>
    </div>
    <div class="container-3">
      <h2>{{ "privacypolicy.title_container_3" | translate }}</h2>
      <h3>{{ "privacypolicy.data_protection_title" | translate }}</h3>
      <p>{{ "privacypolicy.data_protection_text_1" | translate }}</p>
      <p>{{ "privacypolicy.data_protection_text_2" | translate }}</p>
      <p>{{ "privacypolicy.data_protection_text_3" | translate }}</p>
      <h3>{{ "privacypolicy.data_protection_note_responsible_body_title" | translate }}</h3>
      <p>{{ "privacypolicy.data_protection_note_responsible_body_text1" | translate }}</p>
      <p>Steven Schulze<br>Johannisthaler Chaussee 372<br>12351 Berlin</p>
      <p>{{ "privacypolicy.phone" | translate }}: +49 17630573720<br/> E-Mail: mail&#64;steven-schulze.com</p>
      <p>{{ "privacypolicy.data_protection_note_responsible_body_text2" | translate }}</p>
      <h3>{{ "privacypolicy.storage_period_title" | translate }}</h3>
      <p>{{ "privacypolicy.storage_period_text" | translate }}</p>
      <h3>{{ "privacypolicy.general _information_data_processing_title" | translate }}</h3>
      <p>{{ "privacypolicy.general _information_data_processing_text" | translate }}</p>
      <h3>{{ "privacypolicy.recipients_personal_data_title" | translate }}</h3>
      <p>{{ "privacypolicy.recipients_personal_data_text" | translate }}</p>
      <h3>{{ "privacypolicy.revocation_data_processing_title" | translate }}</h3>
      <p>{{ "privacypolicy.revocation_data_processing_text" | translate }}</p>
      <h3>{{ "privacypolicy.right_to_object_data_collection_title" | translate }}</h3>
      <p>{{ "privacypolicy.right_to_object_data_collection_text_1" | translate }}</p>
      <p>{{ "privacypolicy.right_to_object_data_collection_text_2" | translate }}</p>
      <h3>{{ "privacypolicy.right_to_lodge_title" | translate }}</h3>
      <p>{{ "privacypolicy.right_to_lodge_text" | translate }}</p>
      <h3>{{ "privacypolicy.right_to_data_portability_title" | translate }}</h3>
      <p>{{ "privacypolicy.right_to_data_portability_text" | translate }}</p>
      <h3>{{ "privacypolicy.information_correction_deletion_title" | translate }}</h3>
      <p>{{ "privacypolicy.information_correction_deletion_text" | translate }}</p>
      <h3>{{ "privacypolicy.right_to_restriction_processing_title" | translate }}</h3>
      <p>{{ "privacypolicy.right_to_restriction_processing_text1" | translate }}</p>
      <ul>
        <li>
          {{ "privacypolicy.right_to_restriction_processing_text2" | translate }}
        </li>
        <li>
          {{ "privacypolicy.right_to_restriction_processing_text3" | translate }}
        </li>
        <li>
          {{ "privacypolicy.right_to_restriction_processing_text4" | translate }}
        </li>
        <li>
          {{ "privacypolicy.right_to_restriction_processing_text5" | translate }}
        </li>
      </ul>
      <p>{{ "privacypolicy.right_to_restriction_processing_text6" | translate }}</p>
      <h3>{{ "privacypolicy.encryption_title" | translate }}</h3>
      <p>{{ "privacypolicy.encryption_text_1" | translate }}</p>
      <p>{{ "privacypolicy.encryption_text_2" | translate }}</p>
    </div>
    <div class="container-4">
      <h2>{{ "privacypolicy.title_container_4" | translate }}</h2>
      <h3>{{ "privacypolicy.contact_form_title" | translate }}</h3>
      <p>{{ "privacypolicy.contact_form_text_1" | translate }}</p>
      <p>{{ "privacypolicy.contact_form_text_2" | translate }}</p>
      <p>{{ "privacypolicy.contact_form_text_3" | translate }}</p>
      <h3>{{ "privacypolicy.inquiry_by_em_te_fa_title" | translate }}</h3>
      <p>{{ "privacypolicy.inquiry_by_em_te_fa_text1" | translate }}</p>
      <p>{{ "privacypolicy.inquiry_by_em_te_fa_text2" | translate }}</p>
      <p>{{ "privacypolicy.inquiry_by_em_te_fa_text3" | translate }}</p>
    </div>
    <div class="return-container">
      <a routerLink="/">
        <button class="back-button" (mouseenter)="startScroll()" (mouseleave)="stopScroll()">
            <div class="scroll-container">
                <div class="scroll-text" #privacyText>{{ "privacypolicy.back_button" | translate }}</div>
            </div>
        </button>
      </a>
    </div>
  </div>
</section>