.imprint-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
}

.imprint-section {
  flex: 1 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 100px 0;
}

.imprint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 18px;
  padding: 40px 0px;
}

/* Imprint Content */
.imprint-content {
  h1 {
    font-size: 50px;
    color: #3dcfb6;
    font-family: 'Karla';
    font-weight: 700;
    line-height: 100%;
    margin: 0 0 16px;
    text-align: center;
  }

  h2 {
    color: #fff;
    font-family: 'Karla';
    font-weight: 600;
    margin: 40px 0 12px;
  }

  p {
    color: #3dcfb6;
    font-family: 'Karla';
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .legal-list li {
      color: #3dcfb6;
      font-family: 'Karla';
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 10px;

      &::marker {
        color: #3dcfb6;
      }
    }
}

/* Back Button */
.back-button {
  height: 48px;
  width: 120px;
  border: 1px solid #fff;
  border-radius: 100px;
  background: none;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family: 'Karla';
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    color: #3dcfb6;
    border-color: #3dcfb6;
  }

  .scroll-container {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .scroll-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    transition: transform 0.4s ease-out;
    line-height: 120%;
  }
}

/* Button Wrapper */
.return-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 60px 0 32px;
  box-sizing: border-box;
}

/* Animation */
@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-85px);
    visibility: hidden;
  }
  51% {
    transform: translateX(85px);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
  }
}

/* Media Queries */
@media only screen and (min-width: 925px) {
  .imprint-section {
    padding: 0 103px 0 89px;
  }

  .imprint-content {
    > h1 {
      font-size: 60px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .imprint-content {
    > h1 {
      font-size: 42px;
    }
  }
}