<app-navbar></app-navbar>
<div class="title-container">
  <div class="title">
    <h2>Frontend Developer</h2>
    <h1>Steven Schulze</h1>
    <div class="title-buttons">
      <button
        class="first-button"(mouseenter)="startScroll('check')"(mouseleave)="stopScroll('check')">
        <div class="scroll-container">
          <div class="scroll-text" #checkText>Check my work</div>
        </div>
      </button>
      <button
        class="second-button"(mouseenter)="startScroll('contact')"(mouseleave)="stopScroll('contact')">
        <div class="scroll-container">
          <div class="scroll-text" #contactText>Contact me</div>
        </div>
      </button>
    </div>
  </div>
</div>
<div class="lateral-container">
  <div class="lateral">
      <div class="left-lateral">
        <div class="arrow-down">
          <span>&darr;</span>
        </div>
        <div class="left-seperator"></div>
      </div>
      <aside class="marquee-container">
        <div class="marquee-track">
          <div class="adds-content">
            <img src="/assets/images/radio_button_unchecked.png" alt="" />
            <span>Open to Work</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" />
            <span>Available for remote work</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" />
            <span>Frontend Developer</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" />
            <span>Based in Berlin</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" aria-hidden="true"/>
            <span aria-hidden="true">Open to Work</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" aria-hidden="true"/>
            <span aria-hidden="true">Available for remote work</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" aria-hidden="true"/>
            <span aria-hidden="true">Frontend Developer</span>
            <img src="/assets/images/radio_button_unchecked.png" alt="" aria-hidden="true"/>
            <span aria-hidden="true">Based in Berlin</span>
          </div>
        </div>
      </aside>
      <div class="right-lateral">
        <a class="mail-link" href="mailto:schulze89s@hotmail.de">schulze89&#64;hotmail.de</a>
        <div class="links-imgs">
          <a class="mail-container" href="mailto:schulze89@hotmail.de"><div class="mail-content"></div><span></span></a>
          <a class="github-container" href="https://github.com/SchulzeSteven" target="_blank" rel="noopener"><div class="github-content"></div><span></span></a>
          <a class="linkedin-container" href="https://www.linkedin.com/in/steven-schulze-b80aaa375/" target="_blank" rel="noopener"><div class="linkedin-content"></div><span></span></a>
        </div>
        <div class="right-seperator"></div>
      </div>
  </div>
</div>
