<section id="projects" data-aos="fade-right" class="featured-projects-section">
    <div class="featured-projects-container">
        <div class="headline-container">
            <h2>Portfolio</h2>
            <h1> {{ "featured.projects" | translate }} </h1>
        </div>
        <div class="projects-descriptions">
            <span> {{ "featured.explore" | translate }} </span>
        </div>
        <div class="featured-projects-content">
            <div class="featured-projects-divs">
                <div class="single-project-container border-bottom">
                    <div (mouseenter)="showPreviewProjects(1)" (mouseleave)="showPreviewProjects(1)" (click)="showProjects(1)" class="single-project" >
                        <h3> Join 
                            <img src="assets/images/arrow_outward_white.png" alt="" /> 
                        </h3>
                        <span> HMTL <span class="special-span">|</span> CSS
                            <span class="special-span">|</span> JavaScript
                            <span class="special-span">|</span> Firebase
                        </span>
                    </div>
                    <div [ngClass]="{ 'preview-divs-animation': animation && projectNumber == 1 }" class="preview-divs top" >
                        <img class="preview-img" src="assets/images/Join.png" alt="" />
                        <img class="background-capa" src="assets/images/Capa_1.png" alt="" />
                    </div>
                </div>
                <div class="single-project-container border-bottom">
                    <div (mouseenter)="showPreviewProjects(2)" (mouseleave)="showPreviewProjects(2)" (click)="showProjects(2)" class="single-project" >
                        <h3> EL Pollo Loco
                            <img src="assets/images/arrow_outward_white.png" alt="" />
                        </h3>
                        <span> HMTL <span class="special-span">|</span> CSS
                            <span class="special-span">|</span> JavaScript
                        </span>
                    </div>
                    <div [ngClass]="{ 'preview-divs-animation': animation && projectNumber == 2 }" class="preview-divs top">
                        <img class="preview-img" src="assets/images/EL_Pollo_Loco.png" alt=""/>
                        <img class="background-capa" src="assets/images/Capa_1.png" alt=""/>
                    </div>
                </div>
                <div class="single-project-container">
                    <div (mouseenter)="showPreviewProjects(4)" (mouseleave)="showPreviewProjects(4)" (click)="showProjects(4)" class="single-project disabled" >
                        <h3 class="soon-title"> DA Bubble<span class="soon"> {{ "featured.soon" | translate }} </span>
                            <img class="hidden" src="assets/images/arrow_outward_white.png" alt="" />
                        </h3>
                        <span> Angular <span class="special-span">|</span> Firebase 
                            <span class="special-span">|</span> TypeScript 
                        </span>
                    </div>
                    <div [ngClass]="{ 'preview-divs-animation': animation && projectNumber == 4 }" class="preview-divs bottom">
                        <img class="preview-img" src="assets/images/DABubble.png" alt="" />
                        <img class="background-capa" src="assets/images/Capa_1.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>