@media only screen and (min-width: 925px) {
    .featured-projects-section {
        width: 100%;
        margin-bottom: 0 0 144px 0;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 96px;
    }

    .featured-projects-container {
        width: 580px;
    }

    .featured-projects-divs {
        height: 327px;
    }

    .single-project {
        height: 109px;
        align-items: center;
        flex-direction: row;

        >h3 {
            padding: 0 0 0 32px;
        }

        >span {
            padding: 0 32px 0 0;
        }
    }

    .projects-descriptions {
        >span {
            font-size: 18px;
        }
    }

    .headline-container {
        gap: 20px;
    }

    .preview-divs {
        display: block;
        right: -228px;
    }
}

@media only screen and (min-width: 1050px) {
    .preview-img,
    .background-capa {
        width: 295px;
    }
    .preview-divs {
        right: -350px;
    }
}

@media only screen and (min-width: 1280px) {
    .featured-projects-container {
        width: 750px;
    }

    .preview-divs {
        right: -402px;
    }
}

@media only screen and (min-width: 1420px) {
    .featured-projects-container {
        width: 880px;
    }
}

@media only screen and (min-width: 1500px) {
    .featured-projects-section {
        padding: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}