*{
    margin: 0;
}

app-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@font-face {
  font-family: 'Fira Code';
  src: url('assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -2px;
}

@media (min-height: 920px) {
  .marquee-container {
    bottom: 385px !important;
  }
}

@media (max-width: 2000px) {
  .marquee-container {
    width: 80% !important;
    left: 10% !important;
    bottom: 30px;
  }
}

@media (max-width: 1800px) {
  .marquee-container {
    width: 90% !important;
    left: 5% !important;
    bottom: 30px;
  }
}