*{
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

app-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-about-me {
    width: 100%;
    max-width: 1440px;
}

app-skills {
    width: 100%;
    max-width: 1440px;
}

@font-face {
  font-family: 'Fira Code';
  src: url('assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -2px;
}